{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

    <main id="site-main" class="site-main outer" role="main">
        <div class="inner">
            <header class="post-full-header">
                <h1 class="post-full-title">{{title}}</h1>
            </header>
            {{#get 'tags' limit='all' include='count.posts'}}
                <div class="tags">
                    {{#foreach tags}}
                        <a href="{{ url }}">
                <span class="tag-feature-image" style="background-image: url('{{ feature_image }}');">
                    <span class="tag-title">{{ name }} <small>({{ count.posts }})</small></span>
                <span>
                        </a>
                    {{/foreach}}
                </div>
            {{/get}}
        </div>
    </main>

{{/post}}

